@import url('https://fonts.googleapis.com/css?family=Cinzel');

@font-face { 
    font-family: "Didhot"; 
    src: url("https://dpalme24.github.io/Didhot-Regular.woff2") format("woff2");
}

body{
    background: #202327;
    color: #BD3F3A;
    font-family: 'Didhot', monospace;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    margin: 0;
}

.title {
	position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    text-align: center;
    font-family: 'Cinzel', serif;
    text-shadow: 7px 7px #0005;
}

.logo {
    font-size: 80px;
    text-shadow: 7px 7px #0005;
}

.artistas {
    background: #0005;
	position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 449px;
    text-align: justify;
    text-align-last: justify;
    padding: 1rem 1rem;
}

.date {
    font-size: 15px;
    font-family: 'Cinzel', serif;
    text-align: center;
    text-shadow: 4px 4px #0005;
}

.footer {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.one{
    font-size: 54px;
}

.two {
    font-size: 26px;
    
}

.three {
    font-size: 17px;
}

.four {
    font-size: 12px;
}

.five {
    font-size: 11px;
}

.six {
    font-size: 10px;
}
