@import url('https://fonts.googleapis.com/css?family=Cinzel|VT323');

body{
    background: #050505;
    color: #0f0;
    font-family: 'VT323', monospace;
    text-transform: uppercase;
}

svg {
    display: block;
    margin: auto;
}

svg text{
    fill: #0f0;
}

.title {
    font-size: 80px;
    text-align: center;
    padding: 1rem 1rem;
    font-family: 'Cinzel', serif;
}

.logo {
    font-size: 80px;
    padding: 5rem 5rem;
}

.artistas{
    padding: 1rem 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: stretch;
    margin: auto;
    text-justify: inter-word;
}

.one{
    font-size: 85px;
}

.two {
    font-size: 39px;
    
}

.three {
    font-size: 27px;
}

.four {
    font-size: 17px;
}

.five {
    font-size: 17px;
}

.six {
    font-size: 14px;
}

.seven {
    font-size: 14px;
}

.eight {
    font-size: 13px;
}

.date {
    padding: 1rem 1rem;
    font-size: 10px;
    text-align: center;
}
