@import url('https://fonts.googleapis.com/css?family=Cinzel');

@font-face { 
    font-family: "Didhot"; 
    src: url("https://dpalme24.github.io/Didhot-Regular.woff2") format("woff2");
}

:root{
    --background: #3B74B3;
    --main: #1E1D1E;
    --shadow: #EAEAEA;
}

body{
    background: var(--background);
    color: var(--main);
    fill: var(--main);
    font-family: 'Didhot', serif;
    font-weight: bolder;
    text-transform: uppercase;
}

.buttons{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    flex-flow: row;
    z-index: 1;
    background: #0000;
    width: 100%;
    height: 100%;
}

button {
    background: #0000;
    cursor: initial;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
}

.title{
    position: absolute;
    top: 15%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    font-size: 10vw;
    text-align: center;
    font-family: 'Cinzel', serif;
    text-shadow: .3vw .4vw var(--shadow);
}

.logo {
    position: absolute;
    top: 85%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 6vw;
    text-shadow: .2vw .2vw var(--shadow);
    text-anchor: middle;
}

.date {
    position: absolute;
    top: 95%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 2vw;
    font-family: 'Cinzel', serif;
    text-shadow: .2vw .2vw var(--shadow);
    text-anchor: middle;
}

.back {
    text-align: justify;
    text-align-last: justify;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 21vw;
    background: var(--shadow);
    padding: .4vw 1.2vw;
}
.one{
    font-size: 5.3vw;
    width: 100%;
}

.two{
    font-size: 2.6vw;
    width: 100%;
}

.three{
    font-size: 1.3vw;
    width: 100%;
}

.four{
    font-size: 1vw;
    width: 100%;
}

.five{
    font-size: .9vw;
    width: 100%;
}

.six{
    font-size: .7vw;
    width: 100%;
}

.seven{
    font-size: .5vw;
    width: 100%;
}
